body {
  font-family: sans-serif;
  margin: 0;
}
header {
  padding: 1%;
  background-color: #186ca3;
  color: white;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-block {
  width: 20%;
  background-color: grey;
  padding: 5%;
  color: white;
  height: 100vh;
}
.board-container {
  width: 80%;
  padding: 2%;
}
input {
  padding: 1%;
  border: 1px solid;
  width: 80%;
}
#add-board-btn {
  background-color: green;
  color: white;
  padding: 10px;
  border: 0;
}
.input-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-card {
  background-color: grey;
  padding: 2%;
  border-radius: 5px;
  margin: 10px 0;
  color: white;
  width: 30%;
}
.project-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
